<!-- <h1 class="text-3xl mb-5"> Control flow </h1> -->
<shared-title title="Control flow" withShadow></shared-title>

<section class="grid grid-cols-1 md:grid-cols-2 gap-3">

  <!-- ngIf @if-->
  <div class="bg-white rounded shadow p-10">

    <h2 class="text-2xl font-bold mb-5"> if: {{showContent()}} </h2>

    <button (click)="toggleContent()" class="p-2 bg-blue-500 rounded text-white">
      Click me!
    </button>

    @if (showContent())
    {
    <p>Hola mundo</p>
    } @else {
    <p>********</p>
    }

  </div>

  <!-- switch -->
  <div class="bg-white rounded shadow p-10">

    <h2 class="text-3xl"> {{grade()}} </h2>

    @switch (grade()) {

    @case ('A') {
    <p>10/10</p>
    }
    @case ('B') {
    <p>Nada mal</p>
    }
    @case ('F') {
    <p>Hay que apretar más</p>
    }
    @default {
    <p>Valor default</p>
    }
    }

  </div>

  <!-- For -->
  <div class="bg-white rounded shadow p-10">

    <ul>
      @for (framework of frameworks(); track framework; let i = $index, count = $count) {
        <!-- Se pueden añadir variables de control y variar lo estilos de la lista con respecto a estas-->
        <li
          [class]="{
            'bg-red-100': count === i+1
          }"
        > {{i+1}}/{{count}} - {{framework}} </li>
      }

    </ul>

  </div>

  <div class="bg-white rounded shadow p-10">

    <ul>
      @for (framework of frameworks2(); track $index) {
        <li>  {{framework}} </li>
      } @empty {
        <li> No hay frameworks agregados en esta lista </li>
      }

    </ul>

  </div>
</section>
